.Navbar {
  width: 100%;
  height: 50px;
  background-color: var(--black-color);
  position: relative;

  &__hamburger {
    padding-left: 1rem;
  }

  &__menu {
    width: 100%;
    height: 400px;
    padding-left: 1rem;
    background-color: var(--black-color);
    display: grid;
    place-items: center;
    justify-items: start;
    position: absolute;
    z-index: 1;

    ul {
      color: var(--white-color);
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      li {
        width: 100%;
        height: 40px;
        font-size: 20px;
        border-bottom: 1px solid #e4e4e4;
        display: flex;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
      }
    }

    button {
      font-size: 20px;
      color: var(--white-color);
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;
      gap: 1rem;
      cursor: pointer;
    }
  }

  .none {
    display: none;
    transition: all 1s ease;
  }
}
